In [1]:
# importing necessary libraries
import pandas as pd

In [12]:
# loading the dataset
data = pd.read_csv('creditcard.csv')
data.shape

(284807, 31)

In [13]:
# select 20% from each class for removal (stratified by Class)
fraud_indices = data[data['Class'] == 1].index
non_fraud_indices = data[data['Class'] == 0].index
num_fraud_to_remove = int(0.32 * len(fraud_indices))
num_non_fraud_to_remove = int(0.32 * len(non_fraud_indices))
fraud_indices_to_remove = fraud_indices[:num_fraud_to_remove]
non_fraud_indices_to_remove = non_fraud_indices[:num_non_fraud_to_remove]
indices_to_remove = fraud_indices_to_remove.union(non_fraud_indices_to_remove)
# remove the selected rows
data_dropped = data.drop(indices_to_remove) 
data_dropped.shape

(193670, 31)

In [14]:
# save csv file 
data_dropped.to_csv('creditcard_sample.csv', index=False)
data_dropped.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
57248,47826.0,-0.887287,1.390002,1.219686,1.661425,1.009228,-0.733908,0.855829,0.000077,-1.275631,...,-0.083734,-0.346930,-0.050619,0.231044,-0.450760,-0.376205,0.034504,0.157775,7.58,1
57470,47923.0,0.364377,1.443523,-2.220907,2.036985,-1.237055,-1.728161,-2.058582,0.358895,-1.393306,...,0.402730,-0.132129,-0.032977,0.460861,0.560404,0.409366,0.539668,0.296918,0.76,1
57615,47982.0,-1.232804,2.244119,-1.703826,1.492536,-1.192985,-1.686110,-1.864612,0.856122,-1.973535,...,0.560475,0.165682,-0.013754,0.474935,-0.218725,0.302809,0.466031,0.250134,0.76,1
58422,48380.0,-2.790771,-1.464269,1.031165,1.921356,-0.090014,-0.483871,0.780731,-0.348776,0.609133,...,-0.392667,0.440020,0.777659,0.418552,0.244563,-0.159361,0.060540,0.356958,208.58,1
58761,48533.0,1.243848,0.524526,-0.538884,1.209196,0.479538,-0.197429,0.049166,0.037792,0.128119,...,-0.051660,-0.084089,-0.192846,-0.917392,0.681953,-0.194419,0.045917,0.040136,1.00,1